<header>
    <a class="btn site-logo" href="/">
        Pokemon Collection Library
    </a>
    {{#if isLoggedIn}}
        <a class="button" href="/api/logout">Logout</a>
    {{else}}
        <a class="button" href="/login">Login</a>
        <a class="button" href="/signup">Sign Up</a>
    {{/if}}
</header>